<h3>
  your questions
</h3>

<div class="question-box">
  <% @questions.each do |q| %>
    <% if q.accepted %>
    <div class="row approved-question">
      <%= q.question %>
      <font color="white">Approved!</font>
    </div>
    <% else %>
    <div class="row non-approved-question">
      <%= q.question %>
      <a href="#" class="nonapplink" qid="<%= q.id %>">Not approved (by: <%= q.disapproval_reason %>)</a>
    </div>
    <div id="non-app-info<%= q.id %>" style="display:none">
      answer: <%= q.real_answer %> <br>
      dummy answer: <%= q.dummy_answer1 %> <br>
      dummy answer: <%= q.dummy_answer2 %> <br>
      dummy answer: <%= q.dummy_answer3 %> <br>
      <i>
        citation: <%= q.citation %> <br>
      </i>
      <font color="red">
        <%= q.disapproval_reason %>
      </font>
    </div>
    <% end %>
  <% end %>
</div>

<script>
  $("body").on('click', '.nonapplink', function(event) {
    event.preventDefault();
    var id = $(this).attr('qid');
    var that = $('#non-app-info' + id);

    if(that.css('display') == 'block'){
      that.slideUp('300', function() {});
    }
    else{
      that.slideDown('300', function() {});
    }
  });
</script>