
<div class="score-container" image="<%= @category.image_url %>">

<img src="<%= @user.avatar_url %>" alt="">
<h3>
<%= @user.name %>, you have scored <%= @score.score %> out of <%= @score.total %>
</h3>

<h5>You are a <%= @rank %></h5>
<h5>Tell your friends on facebook!</h5>

</div>

<script>
var image = $('.score-container').attr('image');
  $(".content").css('background', 'url('+image+')');
</script>

<style>
  .score-container {
    padding: 5%;
    text-align: center;
    background-color: white;
    position: relative;
    top: 3%;
    margin-top: 4%;
    width: 75%;
    margin: 4% auto;
  }
</style>
